
h1,
 h2,
 h3,
 h4, 
 h5, 
 h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}
ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}


img {
    display: block;
}
button {
    cursor: pointer;
    display: block;
        background-color: #4d5ae5;
        
}
.list {
list-style-type: none;
}
.link{
   text-decoration: none; 
}
body {
    font-family: Roboto, sans-serif; 
    color: #434455;
    background-color: #ffffff;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/* ======== Page header==================================== */
.page-header {
    border-bottom: 1px solid #e7e9fc;
    display: flex;
    height: 76px;
}
.container {
    max-width: 1158px;
    margin: 0 auto;
    align-items: center;
    padding: 0 15px 0 15px;}

.page-navigation {
        display: flex;
        align-items: center
             
}
.logo-web{
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17em;
    letter-spacing: 0.03em;
    text-transform: uppercase;
     color: #4d5ae5;
    margin-right: 76px;

}
.logo-span {
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #2e2f42;
    margin-right: 76px
   
}
.nav-list{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    color: #2E2F42;
     align-items: flex-start;

}

 .logo-web:hover,
 .logo-span:focus {
color: #404bbf;
}

    
.menu {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    padding: 24 0;
    display: flex;
    gap: 40px;
margin-right: 40px;
margin-right: 0;
flex-direction: row;
align-items: stretch;


   }
 /*==== Contacts=========================================== */
.page-contacts{
font-style: normal;
justify-content: flex-end;
}
.contact-list{

display: flex;
}
 .contact-list-item-link {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
   
   }
.contact-list-item-link:hover,
.contact-list-item-link:focus {
    color: #404bbf;
}


 /* ==============HERO SECTION =============================== */ 

 .hero-section{
    background-color:  #2e2f42;
    padding: 188px 0 188px;
    text-align: center;
    margin: 0;
 }
 .container{
display: flex;
       

 }
.main-title{
    max-width: 496px;
    color: var(white, #ffffff);
    display: flex;
margin-left: auto;
margin-top: auto;
    font-family: Roboto;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #ffffff;
    background-color: #2E2F42;
    margin: 0 auto;
    padding-top: 188px 0;
    padding-left: 188px 0;
    }
 

.other-service{
    border-radius: 4px;
    background: #4D5AE5;
    box-shadow: 0 4px 4px 0 rgba(0,  0,  0, 0.15);
    flex-shrink: 0;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
     background-color: #4D5AE5;
     color: #ffffff;
    align-items: center;
    
   
    }


  .other-service:hover,
  .other-service:focus{
color: #ffffff;
background-color: #404bbf;

  }

  /* ========  OUR Section=======================================*/

.criteria{
padding-top: 20px;
padding-bottom: 20px;

}
.list{
   display: contents;
    gap: 24px;
    padding: 24px;
flex-basis: calc((100% - 3 * 24px) / 4);

}
.criteria-list-title{
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;

   
    
}
.text {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}

/* ========================< !--Our Team -->================== */
.container{
  padding: 32px 0; 
}


.team-section{
background-color: #F4F4FD;
padding: 120px 0;

}
.section-title{
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    background-color: #F4F4FD;
    color: #2E2F42;
    margin-bottom: 72px;
}
.team-section{
    display: flex;
    gap: 24px;
}
.team-section-list-item{
background-color: #FFFFFF;
flex-basis: calc((100% - 3 * 24px) / 4);
border-radius: 0px 0px 4px 4px;


}
.container-profesiya{
padding: 32px 16px;
border: 1px solid #e7e9fc;
border-top: none;
margin-bottom: 8px;
}
.team-section-list-title{
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    background-color: #FFFFFF;
    text-align: center;
    margin-bottom: 8px
}



/* ==============================Portfolio====================== */
.portfolio-section {
    background-color: #FFFFFF;
    padding: 100px 0;
}
.container{
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    column-gap: 48px;
    row-gap: 24px;
    
}

.portfolio-title{
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 72px;
}
.portfolio {
    display: flex;
        flex-wrap: wrap;
        row-gap: 48px;
        column-gap: 24px;
        width: 360px;
        margin-left: auto;
        margin-right: auto;
   
}
.portfolio-list-title{
   font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;

}
.portfolio-list{

width: calc((100% - 2 * 24px) / 3);
}






/* =================================Footer============================== */
.page-footer{
     background-color: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
    border-right: 4px;
}
.page-footer-list{
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    background-color: #2E2F42;
    margin-bottom: 16px;
}
.logo-title-studio{
font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.03em;
    color: #F4F4FD;
    background-color: #2E2F42;
display: inline-block;
    margin-bottom: 16px;


}
.text-footer-paragraphe{
   font-family: Roboto;
   font-size: 16px;
   font-weight: 400;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #F4F4FD;
   max-width: 264px;
padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    margin-bottom: 8px;


}









